// Color
$white: #ffffff;
$whiteF8: #f8f8f8;
$black6: #666666;
$blackC: #cccccc;
$black: #000000;
$blackModalMask: #000000b3;
$dark: #333333;
$black1: #3b4043;
$black2: #707070;
$blue1: #02408a;
$blue2: #0075ff;
$red: #d7162e;
$red1: #ff0000;
$red2: #ff2424;
$brown: #6a380e;
$brown1: #a9927e;
$yellow5: #907c1b;
$grey1: #cdd6dd;
$grey2: #cccccc;
$pink: #de3486;
$pink2: #de3486cc;
$blue: #4358c1;
$violet: #7449cf;
$light-blue: #2799e2;
$light-purple: #a03bba;
// General
$normal-dark: #3b3b3b;
$normal-grey: #888888;
$bg-breadcrumb: #efefef;
$hover-value-dropdown: #efefef;
$bg-btn-search-price: #7a6a56;
$bg-btn-brown-hover: rgba(122, 106, 86, 0.7);
$bg-btn-reset: #efefef;
$bg-checkbox-checked: #528f75;
$bg-active-paginate: #7a6a56;
$bg-not-active-paginate: #efefef;
$border-paginate: #d6d6d6;
$bg-general-grey: #f7f7f6;
$bg-btn-add-to-cart: #e2582a;
$bg-btn-search-price: #7a6a56;
$bg-btn-reset: #efefef;
$bg-chat: #7a6a56;
$bg-reserve: #7a6a56;
$error: #e2582a;
$color-scroll: #c4c4c4;

// General
$earth-color: #7a6a56;
$plant-color: #528f75;
$fire-color: #e2582a;
$error: #ff4d4f;
$border-grey-block: #d6d6d6;
$gray-c4: #c4c4c4;

$inner-border: #d6d6d6;
$hover-value-dropdown: #efefef;
$bg-checkbox-checked: #528f75;
$normal-dark: #3b3b3b;
$bg-active-paginate: #7a6a56;
$bg-not-active-paginate: #efefef;
