.listCategory {
  margin-left: 84px;
  position: relative;
  .title {
    padding: 10px 30px 0px 20px;
    display: flex;
    align-items: flex-start;
    h2 {
      font-size: 18px;
      font-weight: 700;
      color: #3B3B3B;
    }
    .colButton {
      display: flex;
      justify-content: flex-end;
      .colBtn {
        display: flex;
        justify-content: flex-end;
        .btnAddCategory {
          background: #7a6a56;
          border-color: #7a6a56;
          color: white;
          font-weight: 700;
          display: flex;
          height: 36px;
          align-items: center;
          justify-content: center;
          img {
            margin-right: 5px;
          }
        }
      }
    }
  }
  .filter {
    padding: 10px 30px 0px 20px;
    display: flex;
    align-items: flex-start;
  }
  button {
    border-radius: 10px;
    color: white;
    height: auto;
  }
  .border {
    border: 0.5px solid #d6d6d6 !important;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    height: 36px;
    &:focus,
    &:hover {
      box-shadow: none !important;
    }
  }
  .colFilter {
    .formFillter {
      display: flex;
      justify-content: flex-end;

      .titleInput {
        font-weight: 700;
        font-size: 12px;
        color: #3B3B3B;
        margin-bottom: 2px;
      }

      .colFilterDate {
        display: flex;
        flex-direction: row;
      }
      .inputSearch,
      .dateStart,
      .dateEnd {
        display: block;
        width: 100%;
        margin: 0px;
        label {
          font-weight: 700;
          height: auto;
        }
      }
      .dateStart {
        margin-left: 10px;
      }
      .dateEnd {
        margin-left: 5px;
      }
      .input,
      .birthDay {
        width: 100%;
        height: 36px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        border-radius: 10px;
      }
      .birthDay {
        :global {
          .ant-picker-clear {
            right: 22px;
            @media (max-width: 768px) {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .middleDate {
    margin: 0 0px 6px 5px;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
  }
  .table {
    padding: 10px 30px 10px 20px;
    .indexColumn,
    .imageColumn,
    .nameColumn,
    .createdDateColumn,
    .totalBrandColumn,
    .handleColumn {
      background: none;
      word-break: break-all;
      color: #3B3B3B;
      &::before {
        width: 0px !important;
      }
    }
    .indexColumn {
      max-width: 5%;
      width: 5%;
      white-space: nowrap;
    }
    .handleColumn,
    .imageColumn {
      max-width: 10%;
      width: 10%;
    }
    .nameColumn {
      max-width: 30%;
      width: 30%;
      .nameCategory {
        cursor: pointer;
        color: #5e7aa9;
        text-decoration-line: underline;
      }
    }
    .createdDateColumn {
      max-width: 20%;
      width: 20%;
    }
    .totalBrandColumn {
      max-width: 25%;
      width: 25%;
    }
    .imageColumn {
      :global(.ant-image),
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .handleColumn {
      .handleCol {
        display: flex;
        justify-content: flex-end;
        a {
          margin-right: 15px;
        }
        img {
          cursor: pointer;
        }
      }
    }
    .nameColumn {
      white-space: nowrap;
      max-width: 350px;
      width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      background: none;
      &::before {
        width: 0px !important;
      }
    }
    :global {
      .ant-table {
        border-radius: 10px;
      }
      .hasBackground {
        background-color: #f6f6f6;
        border: 0.5px solid #d6d6d6;
      }
      .ant-table-content {
        border-radius: 10px;
        border: 0.5px solid #d6d6d6;
      }
      .ant-table-container table > tbody > tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
      }
      .ant-table-container table > tbody > tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
      }
    }
  }
  .colPagination {
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    :global {
      .ant-pagination {
        display: flex;
        justify-content: flex-end;
        .ant-pagination-jump-next,
        .ant-pagination-jump-prev {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px !important;
          background-color: #f6f6f6 !important;
          .ant-pagination-item-link-icon {
            color: gray;
          }
          .ant-pagination-item-ellipsis {
            margin: 0 0 0 -5px;
          }
        }
        .ant-pagination-item,
        .ant-pagination-next,
        .ant-pagination-prev {
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          border-radius: 10px !important;
          .ant-pagination-item-link {
            border-radius: 10px !important;
          }
        }
        .ant-pagination-item {
          border: 1px solid #d6d6d6;
        }
        button:not([disabled]) {
          border-radius: 10px !important;
          color: black;
        }
        li:hover,
        .ant-pagination-item-active {
          background-color: #7a6a56;
          border-color: #7a6a56;
        }
        li a:hover,
        .ant-pagination-item-active a,
        .ant-pagination-item:hover a {
          color: white;
        }
        button:hover:not([disabled]) {
          background-color: #7a6a56;
          border-color: #7a6a56;
          color: white !important;
          border-radius: 10px !important;
        }
      }
    }
  }
}

.modalOk,
.modalAdd {
  width: 420px !important;
  :global(.ant-modal-body) {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .imageCard {
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
      img {
        cursor: pointer;
      }
      strong {
        font-size: 20px;
        color: #3b3b3b;
      }
    }
    button {
      border-radius: 10px;
      color: white;
      background-color: #7a6a56;
      border-color: #7a6a56;
      padding: 12px;
      width: 100%;
      height: 100%;
      margin: 0;
      margin-top: 20px;
      font-weight: 700;
      &:hover {
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }
  :global(.ant-modal-content) {
    border-radius: 15px;
  }
  :global(.ant-modal-header) {
    border: none;
    padding: 16px 25px 0px 25px;
    :global(.ant-modal-title) {
      font-weight: 700;
    }
  }
}

.modalAdd {
  :global(.ant-modal-body) {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    strong {
      font-size: 20px;
    }
    label {
      font-weight: 700;
      font-size: 14px;
      color: #3b3b3b;
    }
    .addCategoryForm {
      width: 100%;
      .contentForm {
        flex-direction: row;
        .colFormError {
          position: relative;
          margin-bottom: 0px;
          .messageError {
            color: #ff4d4f;
            font-weight: 400;
            position: absolute;
            top: 90px;
          }
        }
        .colForm {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          width: 100%;
          .inputForm {
            width: 100%;
            .input {
              width: 100%;
              border: 1px solid #d6d6d6;
              box-sizing: border-box;
              border-radius: 10px;
              padding: 12px 10px;
              height: 45px;
            }
          }
          .formUpload {
            width: 100%;
            .uploadAvatar {
              display: flex;
              justify-content: flex-start;
              padding-right: 5px;
              .imageCard {
                width: 150px;
                height: 150px;
                border-radius: 50%;
              }
              .boxUpload {
                border: 1px dashed #efefef;
                box-sizing: border-box;
                border-radius: 50%;
                background: #efefef;
                width: 150px;
                height: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .imgUpload {
                  width: 24px;
                  height: 24px;
                  margin-bottom: 5px;
                }
                .selectFile {
                  color: #888888;
                  font-size: 12px;
                  font-weight: 400;
                }
                .clickToSelect {
                  font-weight: 400;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      :global {
        .ant-form-item-explain-error {
          text-align: left;
          font-weight: 400;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .listCategory {
    margin: 0;
    .title {
      padding: 10px 15px 0px 15px;
      h2 {
        margin-bottom: 24px;
      }
    }
    .colFilter {
      .formFillter {
        flex-direction: column;
        .colFilterDate {
          margin: 10px 0 10px 0;
          .dateStart {
            margin-left: 0px;
          }
        }
      }
    }
    .table {
      padding: 10px 15px 10px 15px;
      overflow: scroll;
    }
    .colPagination {
      padding: 20px 15px 20px 15px;
      align-items: normal;
      flex-direction: column;
      .pagination {
        margin: 30px 0;
        display: flex;
        justify-content: center;
      }
    }
  }
}
