.pageWrapper {
  height: 100vh;
  display: flex;
}

.mainWrapper {
  height: 100%;
  flex: 1;
  overflow-x: hidden;
}

.pageContent {
  flex: 1;
  overflow: auto;
  background: #f6f6f6;
  min-height: 100vh;
  padding-top: 64px;
}
