.resetPasswordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: 700;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    .textLogo {
        color: #7A6A56;
        font-size: 40px;
        font-weight: 900;
    }
    .logo {
        text-align: center;
        padding: 4%;
    }
    .resetPasswordForm {
        width: 45%;
        min-height: calc(100vh - 50px);
        border-radius: 20px;
        padding: 0 4% 4% 4%;
        border: 2px solid #7A6A56;
         :global(.ant-card-body) {
            padding: 0;
            overflow: auto;
            height: 100%;
        }
        .headerTitle {
            .title {
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 3%;
            }
        }
        .btnSubmit {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: white;
            background-color: #7A6A56;
            border-color: #7A6A56;
            padding: 12px;
            width: 100%;
            height: 45px;
            margin-top: 30px;
            font-weight: 700;
        }
        .inputPassword {
            border: 1px solid #D6D6D6;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 12px 10px;
        }
        .rowVerifyEmail {
            .btnBack {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                color: #7A6A56;
                background-color: white;
                border-color: #7A6A56;
                padding: 12px;
                width: 100%;
                height: 45px;
                margin-top: 30px;
            }
        }
    }
    .success {
        margin: 5% 0 5% 0;
        .title {
            font-size: 24px;
        }
    }
     :global(.ant-form-item-explain-error) {
        text-align: left;
        font-weight: 400;
    }
}

.hasBackground {
    background-image: url('../../assets/images/background-login.svg');
}

@media only screen and (max-width: 1024px) {
    .resetPasswordForm {
        width: 50% !important;
        padding: 10px !important;
    }
}

@media only screen and (max-width: 768px) {
    .resetPasswordContainer {
        background-image: none;
        align-items: flex-start;
        .resetPasswordForm {
            width: 90% !important;
            margin: 0 !important;
            border: none;
            padding: 10px !important;
        }
    }
}

@media only screen and (max-width: 500px) {
    .resetPasswordContainer {
        background-image: none;
        align-items: flex-start;
        .resetPasswordForm {
            width: 100% !important;
            margin: 0 !important;
            border: none;
             :global {
                .ant-card-body {
                    padding: 10px !important;
                }
            }
        }
    }
}
